<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyAngular</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body ng-app ng-init="name='ivan'">
    <div ng-click ng-show="true"> hi Ivan!!! </div>
    <input ng-model="name"/>
    <p ng-make-short ng-click="console.log(1)">qqq qqq qqq qqq qqq qqq qqq</p>
    <p ng-bind="name"></p>
</body>
<script src="src/js/index.js"></script>
</html>