<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyAngular</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body ng-app>
    <div ng-init="name = 'ivan'" ng-hide="false"> hi Ivan!!! </div>
    <input ng-model="name"/>
    <p ng-make-short>qqq qqq qqq qqq qqq qqq qqq</p>
    <button ng-random-color ng-click="name === 'ivan' ? name = 'jorik' : name='ivan'">Ivan or Jorik</button>
    <ul>
      <li ng-repeat="letter in name"></li>
    </ul>
    <p ng-bind="name"></p>
</body>
<script src="src/js/index.js"></script>
</html>